
header{
    text-align: center;  
    height: 170px;
    animation-name: headanimation;
    animation-duration: 4s; 
}

ul{
    background-color: gray;  
}

a{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    padding : 20px; 
    margin: 0px;
}

.invitation {
    border : 2px solid black ;
    width: 35%;
    padding:5px;
    border-radius: 10px;
    float: left;
    margin-left: 200px;
}

.invitation_two {
    border : 2px solid black ;
    width: 30%;
    margin-right: 200px;
    padding:5px;
    border-radius: 10px;
    float: right;
}

table, th, tbody, thead, td {
    border : 3px solid black ;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: rgb(255, 248, 237);
}

table {
    margin : 0 10%;
    width : 80%
}

a:hover {
    color : rgb(175, 107, 47) !important; 
}

a:active{
    text-decoration: none;
    color: orange;
}

a:visited{
    color: rgb(242, 194, 170);
}


li > a:link{
      color: white;
}

#hkiuintro{
    color: brown; 
    font-weight: bold;
} 


footer{
    background-color: rgb(239, 145, 68);
    text-align: center;
    margin: 0; 
}

table > tbody > tr > td:nth-child(even) {
    background-color: rgb(200, 200, 200);
}

table > tbody > tr > td:nth-child(even):hover {
    background-color :rgb(170, 170, 170);
}
  
table > tbody > tr > td:nth-child(odd) {
    background-color:rgb(170, 170, 170) ;
}
  
table > tbody > tr > td:nth-child(odd):hover {
    background-color: rgb(200, 200, 200);
}

@keyframes headanimation {
    from{
      background-color: rgb(239, 145, 68);
    }
    to{
        background-color: white;
    }
  }

#clear{
    clear: both;
}

#about{
    max-width: 100%;
    max-height: 100%;
}